Body {height: 200px; 
Background: linear-gradient(to right,MediumTurquoise,Aquamarine); 
Font-family: Arial, sans-serif; 
Margin: 0; 
Padding: 0;}
Header {Background-color: Turquoise; 
Color: DarkOrchid; 
Padding: 10px;}
Nav ul {List-style: none; 
Margin: 0; 
Padding: 0;} 
Nav li {Display: inline-block;
Margin-right: 0px;}
Nav a {Color:Ivory ; 
Text-decoration: none;} 
header img{border-radius:20px;}
.image-container {border-radius:20px;display: flex;
justify-content:center;
aling:itemx:center;
mairgin:top: 20px;}
main {padding:20px;} 
main h1 {mairgin-top:0px;color:MediumSeaGreen;;text-align:center;}
main p {mairgin-bottom: 20px;color:Green;
text-align:center;}
section p {Text-align:center;color:FireBrick;}
footer {background-color:Turquoise; 
color:#fff; 
padding:10px;text-aling:center;}